.reserve{
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 0,0.418);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    /* color: white; */
}

.rconatinor{
    background-color: white;
    padding: 20px;
    position: relative;
}

.rclose{
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

.ritem{
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 20px;

}


.riteminfo{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.rtittle{
    font-weight: 500;
}

.desc{
    font-weight: 300;
}

.rmax{
    font-size: 12px;
}

.rprice{
    font-weight: 500;
}

.rbutton{
    border: none;
    padding: 10px 20px;
    background-color: blue;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
    margin-top: 20px;

}

.rSelectRooms{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    font-size: 8px;
    color: gray;
  }
  
  .room{
    display: flex;
    flex-direction: column;
  }
